@import url(https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css);
@import url('https://xhylo.github.io/WinMacbuttons/winmacbuttonssc.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css');

//bd settings on top
.bd-sidebar-header, 
[aria-controls="settings-tab"], 
[aria-controls="emotes-tab"], 
[aria-controls="customcss-tab"], 
[aria-controls="plugins-tab"],
[aria-controls="themes-tab"], 
[aria-controls="themes-tab"]      + .separator-2wx7h6, 
[aria-controls="pluginrepo-tab"], 
[aria-controls="pluginrepo-tab"] + .separator-2wx7h6, 
[aria-controls="themerepo-tab"] + .separator-2wx7h6, 
[aria-controls="themerepo-tab"]{
  order: -1;
}

//dark invite
.tutorialContainer-1pL9QS>.listItem-3SmSlK .wrapper-28eC3z svg {
  -webkit-mask: url(https://i.imgur.com/RkxIznK.png);
  -webkit-mask-size: var(--home-size);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

//blur spoiler
.spoilerText-27bIiA,
.spoilerText-27bIiA.hidden-3B-Rum {
    background-color: transparent !important;
}

.spoilerText-27bIiA.hidden-3B-Rum > .inlineContent-2YnoDy {
    opacity: 1 !important;
    filter: blur(3px);
    pointer-events: unset;
}

.welcomeCTAButtonOuter-2VwxSF {display : none}

.guilds-2JjMmN .tree-3agP2X:focus {
  outline-color: transparent;
}
.guilds-2JjMmN .scroller-3X7KbA {
  contain: unset;
  margin-top: 56px;
}
.guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-1pL9QS {
  position: fixed;
  transform: translatey( -100% );
}
.layer-3QrUeG {
    transform: none !important;
    opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}

.animating-rRxada.stop-animations {
    z-index: 100 !important;
}
